<div id="goles" class="collapse row">
    <div colspan="8" class="col-md-8 mt-4 text-center">
        <table id="goles-table" name="goles-table" class="table table-sm table-striped">
            <tr>
                <th>Equipo</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Minuto</th>
                <th></th>
            </tr>

            <% for(var i = 0; i < goles.length; i++) { %>
            <tr id="gol-<%=goles[i].goles_id%>">
                <td><%= goles[i].equipos_nombre %></td>
                <td><%= goles[i].jugadores_matricula %></td>
                <td><%= goles[i].nombre %></td>
                <td><%= goles[i].minuto %>'</td>
                <td>
                    <button class="btn btn-link remover-gol" gol-id="<%=goles[i].goles_id%>">
                        Remover
                    </button>
                </td>
            </tr>

            <% } %>
        </table>
    </div>
    <div colspan="4" class="col-md-4 mt-4 card">
        <div class="card-body">
            <h3 class="card-title">Agregar gol</h3>
            <div class="form-group">
                <label for="gol-jugador">Jugador:</label>
                <select name="gol-jugador" class="form-control" id="gol-jugador">
                    <% for(var i = 0; i < jugadores.length; i++) { %>
                    <option><%= jugadores[i].jugadores_matricula%> - <%= jugadores[i].nombre%></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="minuto-gol">Minuto:</label>
                <input class="form-control" type="number" id="minuto-gol"
                       min="0" name="minuto-gol" />

            </div>
            <button id="submit-gol" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
<script>
    removerGol = function(id){
        $('#gol-'+id).remove();
    };

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text()
    }

    agregarRemoverGolClick = function() {
        $(".remover-gol").click(function () {
            showPleaseWait();
            let callBody = {
                "goles_id": $(this).attr('gol-id')
            }
            $.ajax({
                    url: '/api/fixtures/<%= partido.partidos_id %>/goles',
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify(callBody),
                    success: function (response) {
                        removerGol(callBody.goles_id);
                        setProgress(100);
                        hidePleaseWait();
                    },
                    error: function (error) {
                        setProgress(100);
                        hidePleaseWait();
                        //alert("No se pudo conectar con el servidor");
                    }
                }
            );
        });
    };

    formatGolRow = function(gol){
        let boton = `<button class="btn btn-link remover-gol" gol-id="${gol.goles_id}">Remover</button>`;
        let row =
            `<tr id="gol-${gol.goles_id}> <td>${gol.equipos_nombre}</td>
            `;
    }

    agregarGol = function(gol){
        let remover = '<button class="btn btn-link remover-gol" gol-id="' + gol.goles_id + '">' +
            "Remover" +
            "</button>";
        let newrow = '<tr id="gol-'+ gol.goles_id + '"><td>' + gol.equipos_nombre + '</td>' +
            '<td>' + gol.jugadores_matricula + '</td><td>' + gol.nombre  + '</td>' +
            '<td>' + gol.minuto + "'</td><td>" + remover + '</td></tr>';

        let index = -1;
        $('#goles-table tr').each(function (i, row) {
            let a = getCellValue($(this), 3).slice(0, -1);
            if (a > gol.minuto && index === -1) {
                index = i - 1;
            }
        });
        console.log(index);
        if (index === -1)
            $('#goles-table tr:last').after(newrow);
        else
            $('#goles-table > tbody > tr:eq(' + index + ')').after(newrow);
        agregarRemoverGolClick();
    }

    agregarRemoverGolClick();

    $("#submit-gol").click(function(e) {
        showPleaseWait();
        let jugador = document.getElementById("gol-jugador").value;
        let minuto = document.getElementById("minuto-gol").value;


        let arr = jugador.split("-").map(function (item) {
            return item.trim();
        });
        // now have option.text, option.value
        console.log(arr[0]);
        console.log(arr[1]);
        let callBody = {
            "jugadores_matricula": arr[0],
            "nombre": arr[1],
            "minuto": minuto
        }
        console.log(callBody);
        $.ajax({
                url: '/api/fixtures/<%= partido.partidos_id %>/goles',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(callBody),
                success: function (response) {
                    console.log(JSON.stringify(response));
                    agregarGol(response[0]);
                    setProgress(100);
                    hidePleaseWait();
                },
                error: function (error) {
                    setProgress(100);
                    hidePleaseWait();
                    //alert("No se pudo conectar con el servidor");
                }
            }
        );
    });
</script>