<div id="visita" class="collapse col-md-12 mt-4">
    <div class="row text-center">
        <div class="col-sm-4">
            <label for="titulares-visita">Titulares:</label>
            <select multiple class="form-control" id="titulares-visita">
                <%
                for(var i = 0; i < jugadores.length; i++) {
                if(jugadores[i].equipos_nombre == partido.visita_nombre && jugadores[i].titularidad == 1){
                %>
                <option><%=jugadores[i].jugadores_matricula %> - <%= jugadores[i].nombre%></option>
                <%
                }
                }
                %>
            </select>
            <button id="btn-titular-a-plantel-visita" class="btn btn-default">></button>
        </div>
        <div class="col-sm-4">

            <label for="plantel-visita">Plantel:</label>
            <select multiple class="form-control" id="plantel-visita">
                <%
                for(var i = 0; i < jugadores.length; i++) {
                if(jugadores[i].equipos_nombre == partido.visita_nombre && jugadores[i].titularidad == 3){
                %>
                <option><%=jugadores[i].jugadores_matricula %> - <%= jugadores[i].nombre%></option>
                <%
                }
                }
                %>
            </select>
            <button id="btn-a-titular-visita" class="btn btn-default"><</button>
            <button id="btn-a-reserva-visita" class="btn btn-default">></button>
        </div>
        <div class="col-sm-4">

            <label for="reserva-visita">Reserva:</label>
            <select multiple class="form-control" id="reserva-visita">
                <%
                for(var i = 0; i < jugadores.length; i++) {
                if(jugadores[i].equipos_nombre == partido.visita_nombre && jugadores[i].titularidad == 2){
                %>
                <option><%=jugadores[i].jugadores_matricula %> - <%= jugadores[i].nombre%></option>
                <%
                }
                }
                %>
            </select>
            <button id="btn-reserva-a-plantel-visita" class="btn btn-default"><</button>
        </div>
    </div>
    <div class="form-group">
        <button id="guardar-visita" class="btn btn-primary">Guardar</button>
    </div>
</div>

<script>
    $().ready(function() {
        $('#btn-reserva-a-plantel-visita').click(function() {
            return !$('#reserva-visita option:selected').remove().appendTo('#plantel-visita');
        });
        $('#btn-titular-a-plantel-visita').click(function() {
            return !$('#titulares-visita option:selected').remove().appendTo('#plantel-visita');
        });
        $('#btn-a-reserva-visita').click(function() {
            return !$('#plantel-visita option:selected').remove().appendTo('#reserva-visita');
        });
        $('#btn-a-titular-visita').click(function() {
            return !$('#plantel-visita option:selected').remove().appendTo("#titulares-visita");
        });
    });


    $("#guardar-visita").click(function(e){
        showPleaseWait();
        let select = document.getElementById("titulares-visita");
        let select2 = document.getElementById("plantel-visita");
        let select3 = document.getElementById("reserva-visita");
        let count = select.length + select2.length + select3.length;
        let currentCalls = 0;
        for(let i = 0; i < select3.length; i++){
            console.log("ahhhh");
            let arr = select3[i].toString().split("-").map(function (item) {
                return item.trim();
            });
        }
        for (let i = 0; i < count; i++) {
            let option = undefined;
            let titularidad = 1;
            if(i < select.length) {
                option = select.options[i].value;
            }
            else if(i < select.length + select2.length){
                titularidad = 3;
                option = select2[i - select.length].value;
            }
            else{
                titularidad = 2;
                option = select3[i - select.length - select2.length].value;
            }
            let arr = option.toString().split("-").map(function (item) {
                return item.trim();
            });
            // now have option.text, option.value
            console.log(arr[0]);
            console.log(arr[1]);
            let callBody = {
                "equipos_nombre": "<%= partido.visita_nombre %>",
                "jugadores_matricula": arr[0],
                "nombre": arr[1],
                "titularidad": titularidad
            }

            $.ajax({
                    url: '/api/fixtures/<%= partido.partidos_id %>/jugadores',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(callBody),
                    success: function (response) {
                        currentCalls = currentCalls+1;
                        setProgress(currentCalls/count * 100);
                        if(currentCalls == count) {
                            hidePleaseWait();
                        }

                    },
                    error: function (error) {
                        currentCalls++;
                        setProgress(currentCalls/count * 100);
                        if (currentCalls == count) {
                            hidePleaseWait();
                        }
                        //alert("No se pudo conectar con el servidor");
                    }
                }
            )
        }
    });
</script>