<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>

</head>
<body>
<%include headmenu.html%>
    <div class="container">
        <div class="row">
            <div colspan="8" class="col-md-8 mt-4 text-center">
                <table id="fixtures" class="table table-striped" name="fixtures">
                    <tr>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Local</th>
                        <th>Marcador</th>
                        <th>Visita</th>
                        <th></th>
                    </tr>
                    <!-- Datos basicos del partido -->
                    <% for(var i = 0; i < partidos.length; i++) { %>
                    <tr>
                        <td><%= new Date(partidos[i].fecha).toLocaleDateString("es-ES", {year:"numeric", month:"2-digit", day:"2-digit"}) %></td>
                        <td><%= new Date(partidos[i].fecha).toLocaleTimeString("es-ES", {hour:"2-digit", minute:"2-digit"})  %></td>
                        <td><%= partidos[i].local_nombre %></td>
                        <td><%= partidos[i].local_goles %>:<%= partidos[i].visita_goles %></td>
                        <td><%= partidos[i].visita_nombre %></td>
                        <td><a href="/editarpartido/<%=partidos[i].partidos_id%>" class="btn btn-default">Editar</a></td>
                    </tr>

                    <% } %>
                </table>
            </div>
            <div colspan="4" class="col-md-4 mt-4 card">
                <div class="card-body">
                    <h3 class="card-title">Agregar Partido</h3>
                    <div class="form-group">
                        <label for="local">Equipo Local:</label>
                        <select name="local" class="form-control" id="local">
                            <% for(var i = 0; i < equipos.length; i++) { %>
                            <option><%= equipos[i].equipos_nombre%></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="visita">Equipo Visita:</label>
                        <select name="visita" class="form-control" id="visita">
                            <% for(var i = 0; i < equipos.length; i++) { %>
                            <option><%= equipos[i].equipos_nombre %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input class="form-control" type="datetime-local" id="fecha1"
                               name="fecha" value="<%= new Date().toLocaleDateString("es-ES", {year:"numeric",month:"2-digit", day:"2-digit"}) + 'T' + new Date().getHours().toLocaleString('es-ES', {minimumIntegerDigits:2}) + ":" +  new Date().getMinutes().toLocaleString("es-ES", {minimumIntegerDigits:2})%>" />
                    </div>

                    <button id="submitbtn" class="btn btn-primary">Agregar</button>


                </div>
            </div>

        </div>
    </div>
<script>

    function getCellValue(row, index) {
        return $(row).children('td').eq(index).text()
    }

    $("#submitbtn").click(function(e){
        console.log("button click");
        const mom = moment($("#fecha1").val());
        var callBody = {
            "local": $("#local").val(),
            "visita": $("#visita").val(),
            "fecha": mom.toISOString()

        }

        $.ajax({
            url: '/api/fixtures/1',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(callBody),
            success: function(response){
                console.log("----", response, "-----");
                if(response && response.length > 10 && $.parseJSON(response)[0].partidos_id > 0) {
                    game = $.parseJSON(response);

                    let newrow = '<tr><td>' + mom.format('YYYY-MM-DD') + '</td>' +
                        '<td>' + mom.format("HH:mm") + '</td><td>' + callBody.local + '</td>' +
                        '<td>0:0</td><td>' + callBody.visita + '</td></tr>';
                    let b = mom;
                    let index = -1;
                    $('#fixtures tr').each(function (i, row) {
                        let a = moment(getCellValue($(this), 0) + 'T' + getCellValue($(this), 1), "YYYY-MM-DDTHH-mm");
                        if (b.isSameOrAfter(a) && index === -1) {
                            index = i - 1;
                        }
                    });
                    console.log(index);
                    if (index === -1)
                        $('#fixtures tr:last').after(newrow);
                    else
                        $('#fixtures > tbody > tr:eq(' + index + ')').after(newrow);
                }
                else{
                    alert(response);
                }
            },
            error: function(error){
                alert("No se pudo conectar con el servidor");
            }}

        )
    });
</script>
    <script>
        //document.getElementById('equipo').focus();
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
    </body>
</html>